<!DOCTYPE html>
<html>
 <head>
   <meta charset="uft-8">
   <title>Home</title>
   <link rel="stylesheet" href="/css/style.css">
   <link rel="icon" href="/images/p1.png">
   <script src="/send_url.js"></script>
 </head>
 <body>
   <div class="top-wrapper">
     <div class="top-detail">
       <h2 class="subtitle">アンケートシステム</h2>
       <h1 class="title">Kenchun<br>Search</h1>
       <p class="description">
         Kenchun Searchは、アンケートに回答頂く<br>システムです。
         <br>
         ログインして、アンケートにご回答ください。
       </p>
       <a href="/index" class="index-button">アンケートへ</a>
     </div>
     <div class="top-image">
       <img src="../images/p1.png">
       <p>以下の点に注意してご回答ください<br>誤った回答はしないでください。
       </p>
     </div>
   </div>
 </body>


</html>
